.sub-main-weather {
  width: 100%;
  height: 200vh;
  background-image: url("https://images.unsplash.com/photo-1558486012-817176f84c6d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1804&q=80");
  background-position: center top;
}